/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #00a4a5;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
}

.navbar a:hover {
    background-color: #007d7e;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #00a4a5;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.dropdown-menu li a {
    padding: 10px 20px;
    white-space: nowrap;
}

/* Dropdown Active */
.dropdown.active .dropdown-menu {
    display: block;
}